.step-img {
    width: 400px;
    height: auto;
}
.arrow-img {
    width: 80px;
    height: auto;
}
.cracker-img {
    width: 200px;
    height: auto;
}
.chick1-img {
    width: 17%;
    max-width: 100%;
    height: auto;
}
.learning-message p {
    letter-spacing: 0.2em;
    font-size: x-large;
    font-weight: bold;
}

.step {
    position: relative;
    text-align: center;
}

.step-theme {
    font-size: x-large;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 16%;
    left: 46%;
    margin: 0;
    padding: 0;
}
.step-text {
    position: absolute;
    color: black;
    font-weight: bold;
    top: 43%;
    left: 47%;
    margin: 0;
    padding: 0;
}
