.main-wrapper{

}

.main-content{
    margin:75px;
}

.content-title{
    color:white;
    background-color: #4DD599;
    font-size:2em;
    text-align: center;
    padding: 0.6em 0;
}
.content-title p{
    margin: 0!important;
}

.contents{
    background-color:rgba(255,255,255,0.8);
}


