.main-wrapper{

}

.main-content{
    margin: 2em;
}

.content-title{
    color:white;
    background-color: #4DD599;
    font-size:2em;
    text-align: center;
    padding: 0.6em 0;
}
.content-title p{
    margin: 0!important;
}

.contents{
    background-color:rgba(5,255,255,0.8);//TODO::背景画像がまだないので分かりやすいように水色にしてます
}

.top-image{
    background-image: url("/images/main-top.png");
    height: 700px;
    background-repeat: no-repeat;
}



