.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.class-button {
    text-decoration: none !important;
    padding: ;
    color: #fff;
    background-color: #eb6100;
}
.class-button:hover {
    color: #fff;
    background: #f56500;
}
