.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.theme {
    margin-bottom: 60px;
}
.card {
    margin-bottom: 50px;
    width: 330px;
}
.card-header {
    font-weight: bold;
    font-size: x-large;
}